body{
    background-image: url(http://mjedesign.net/uq/images/gradient.png);
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 20px;
}
.loginInput{
    display: inline-block;
}

.inputBox{
    width: 100%;
    text-align: center;
}