@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body{
    background-image: url(http://mjedesign.net/uq/images/gradient.png);
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 20px;
}
.navbar ul{
    padding: 0px;
    margin-bottom: 0px;
}
.navbar li{
    list-style: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    
}
.navbar li a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}
.inventoryItem{
    list-style-type: none;
    text-align: left;
    padding: 0.5em;
    margin: 0;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
}
.inventory{
    margin: 0;
    padding: 0;
    background: transparent;
}
.title{
    font-family: 'Lobster', cursive;
    color: #fff;
}
.expandedItem{
    background-color: #fdfcf7; 
}

.expandedSection{
    background-color: #fdfcf7;
}
.inventory{
    margin: 10px;
}

.inventoryItem h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0px;
}
.inventoryItem p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE6352;
    margin-top: 0px;
}
.inventoryItem:hover{
    cursor: pointer;
}
.searchbar{
    height: 30px;
    width: 250px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
}
hr{
    color: #fff;
    margin-top: 0px;
    border-style: solid;
}
.place{
    position: absolute;
    right: 80px;
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #828282;
}
.quantity{
    position: absolute;
    right: 80px;
    margin-top: -35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #828282;
}
.scan{
    color: #fff;
    border: none;
    text-decoration: none;
    margin-right: 10px;
}
.select{
    color: #FFC971;
    border: none;
    text-decoration: none;
    margin-left: 10px;
}
.fa-chevron-down{
    position: absolute;
    right: 30px;
    margin-top: -35px;
}
.activelink{
    background-color: #FFC971;
    padding: 5px 5px 0px 5px;
    border-radius: 4px;
}
